* {
  margin: 0;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --primary-color: #303030;
    --text-color: rgb(250,235,215);
    --card-color: aliceblue;
    --border-color: #ccc;
    --button-hover: black;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

header {
    background-color: var(--primary-color);
    padding: .5rem;
    color: var(--text-color);
    display: grid;

    text-align: center;
}

main {
    padding: 3rem 5rem;
}

.card {
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 1rem;

}

.inputpd{
    display: grid;
    margin-bottom: 1rem;
}

input {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}

button {
    background-color: var(--primary-color);
    border: 0;
    color: var(--card-color);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: bold;
}

button:hover{
    background-color: var(--button-hover);
    transition: .32s;
}

.conteudo {
    margin-top: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: var(--border-color);
}

table th {
    background-color: var(--primary-color);
    padding: .3rem;
    color: var(--text-color) ;
}

table td {
    padding: .3rem;
    text-align: center;
}

table td img {
    width: 2rem;
}